<header class="grid place-items-center min-h-screen text-xl text-center">
  <section class="grid gap-4">
    <p class="text-8xl">👋 Hi</p>
    <h1 class="text-6xl">I'm Ricardo Corrales</h1>
    <small class="text-lg">Software Developer</small>
    <a
      class="p-2 bg-purple-800 rounded"
      target="_blank"
      href="/CV-Ricardo-Corrales.pdf">Get my CV</a
    >
  </section>
</header>
