<nav>
  <a href="/"><h2>Ricardo Corrales</h2></a>
  <ul>
    <li><a href="https://github.com/CMRicardo">Github</a></li>
    <li><a href="https://twitter.com/RichardCM">Twitter</a></li>
  </ul>
  <ul>
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#About">About me</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space);
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
</style>
