---
import Github from "../icons/Github.astro";
import Twitter from "../icons/Twitter.astro";
---

<nav>
  <a href="/"><h2>Ricardo Corrales</h2></a>
  <ul>
    <li>
      <a target="_blank" href="https://github.com/CMRicardo"><Github /></a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/RichardCM"><Twitter /></a>
    </li>
  </ul>
  <ul>
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#About">About me</a></li>
    <li><a href="/CV-Ricardo-Corrales.pdf">My CV</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space);
    position: sticky;
    z-index: var(--z-high);
    top: 0;
    background: var(--color-bg);
  }

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  a {
    transition: transform 0.5s ease;
  }
  a:hover {
    transform: scale(1.1);
  }
</style>
