---
import Github from "../icons/Github.astro";
import Twitter from "../icons/Twitter.astro";
---

<nav class="flex justify-between py-4 px-8 sticky top-0 bg-gray-900">
  <a class="font-bold text-xl hover:scale-110 transition-transform" href="/">
    <h2>Ricardo Corrales</h2>
  </a>

  <ul class="flex justify-between gap-4">
    <li>
      <a target="_blank" href="https://github.com/CMRicardo"><Github /></a>
    </li>
    <li>
      <a target="_blank" href="https://twitter.com/RichardCM"><Twitter /></a>
    </li>
  </ul>

  <ul class="flex justify-between gap-4">
    <li><a href="#Projects">Projects</a></li>
    <li><a href="#About">About me</a></li>
    <li><a href="/CV-Ricardo-Corrales.pdf" target="_blank">My CV</a></li>
  </ul>
</nav>
